::-webkit-scrollbar {
    width: 4px;
    color: #33ff00;
}

::-webkit-scrollbar-thumb {
    background: #33ff00;
    border-radius: 4px;
    width: 4px;
}

#breaker {
    background-color: #33ff00;
}

.color {
    color: #33ff00;
}

.color2 {
    color: #ff6600;
}

.cv a button {
    background: #33ff00;
}

.faction-img img {
    background: #33ff00;
    box-shadow: 0px 0px 0px 0px #33ff00;
}

.faction:hover .faction-img img {
    box-shadow: 0px 0px 0px 400px #33ff00;
}

.faction-img2 img {
    background: #424242;
    box-shadow: 0px 0px 0px 0px #424242;
}

.faction:hover .faction-img2 img {
    box-shadow: 0px 0px 0px 400px #424242;
}

.faction-img3 img {
    background: #ff6600;
    box-shadow: 0px 0px 0px 0px #ff6600;
}

.faction:hover .faction-img3 img {
    box-shadow: 0px 0px 0px 400px #ff6600;
}

.allegiance-progress {
    background: #33ff00;
}

.allegiance-progress2 {
    background: #ff6600;
}

.world-text h2 {
    color: #33ff00;
}

.world-text button {
    color: #33ff00;
    border: 1.5px solid #33ff00;
}

.world-header button {
    color: #33ff00;
    border: 1.5px solid #33ff00;
}

.world-header button::before {
    background: #33ff00;
}

.world-image img::before {
    background: #33ff00;
}

.blog-date {
    background: #33ff00;
}

form button {
    background: #33ff00;
}

@media all and (max-width: 550px) and (min-width: 5px) {
    .faction:hover .faction-img img {
        box-shadow: 0px 0px 0px 0px #ff0000;
    }
}